body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u1 {
  position:absolute;
  left:2px;
  top:400px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:123px;
  width:322px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:130px;
  width:40px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4_input {
  font-family:'应用字体';
}
#u5 {
  position:absolute;
  left:43px;
  top:162px;
  width:322px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:172px;
  width:60px;
  height:78px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:79px;
}
#u8 {
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:120px;
  top:172px;
  width:34px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:120px;
  top:188px;
  width:240px;
  height:62px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:63px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:43px;
  top:262px;
  width:322px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:272px;
  width:60px;
  height:78px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:79px;
}
#u16 {
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:272px;
  width:34px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:120px;
  top:288px;
  width:240px;
  height:62px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:63px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:43px;
  top:362px;
  width:322px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:372px;
  width:60px;
  height:78px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:79px;
}
#u24 {
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:120px;
  top:372px;
  width:34px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:120px;
  top:388px;
  width:240px;
  height:62px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:63px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:43px;
  top:462px;
  width:322px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:50px;
  top:472px;
  width:60px;
  height:78px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:79px;
}
#u32 {
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:120px;
  top:472px;
  width:34px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:120px;
  top:488px;
  width:240px;
  height:62px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:63px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:43px;
  top:562px;
  width:322px;
  height:100px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:50px;
  top:572px;
  width:60px;
  height:78px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:79px;
}
#u40 {
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:572px;
  width:34px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:120px;
  top:588px;
  width:240px;
  height:62px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:63px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:43px;
  top:640px;
  width:322px;
  height:58px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:59px;
}
#u46 {
  position:absolute;
  left:2px;
  top:21px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:60px;
  top:656px;
  width:250px;
  height:24px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47_input {
  font-family:'应用字体';
}
#u48 {
  position:absolute;
  left:320px;
  top:656px;
  width:30px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48_input {
  font-family:'应用字体';
}
#u49 {
  position:absolute;
  left:408px;
  top:262px;
  width:300px;
  height:48px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:400px;
  top:624px;
  width:300px;
  height:90px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:91px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
