body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:19359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u1 {
  position:absolute;
  left:2px;
  top:400px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:647px;
  width:322px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:43px;
  top:123px;
  width:322px;
  height:39px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:185px;
  width:130px;
  height:83px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:84px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:19232px;
  top:200px;
  width:127px;
  height:107px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:108px;
}
#u9 {
  position:absolute;
  left:2px;
  top:46px;
  width:123px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:163px;
  top:278px;
  width:92px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:154px;
  top:340px;
  width:99px;
  height:91px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:95px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:69px;
  top:661px;
  width:279px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
