body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:629px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u1 {
  position:absolute;
  left:2px;
  top:400px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:123px;
  width:322px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:129px;
  top:134px;
  width:150px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:129px;
  top:422px;
  width:150px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:39px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:242px;
  top:530px;
  width:59px;
  height:55px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:43px;
  top:647px;
  width:322px;
  height:44px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:236px;
  width:229px;
  height:96px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:97px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:131px;
  width:30px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14_input {
  font-family:'应用字体';
}
#u15 {
  position:absolute;
  left:106px;
  top:480px;
  width:59px;
  height:50px;
  color:#CCCCCC;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:55px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:106px;
  top:585px;
  width:59px;
  height:50px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:55px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:106px;
  top:530px;
  width:59px;
  height:55px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u20 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:118px;
  top:217px;
  width:183px;
  height:153px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:154px;
}
#u22 {
  position:absolute;
  left:2px;
  top:68px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:43px;
  top:217px;
  width:23px;
  height:153px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:154px;
}
#u24 {
  position:absolute;
  left:2px;
  top:68px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:342px;
  top:217px;
  width:23px;
  height:153px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:154px;
}
#u26 {
  position:absolute;
  left:2px;
  top:68px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:179px;
  top:172px;
  width:50px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:69px;
  top:661px;
  width:279px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
