body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u1 {
  position:absolute;
  left:2px;
  top:400px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:647px;
  width:322px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:43px;
  top:123px;
  width:322px;
  height:39px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:68px;
  top:190px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:68px;
  top:260px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:68px;
  top:330px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:68px;
  top:394px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:68px;
  top:460px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:68px;
  top:522px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:69px;
  top:661px;
  width:279px;
  height:19px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
