body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:817px;
}
#u1 {
  position:absolute;
  left:2px;
  top:400px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:647px;
  width:322px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:43px;
  top:123px;
  width:322px;
  height:39px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:61px;
  top:130px;
  width:249px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6_input {
  font-family:'应用字体';
}
#u7 {
  position:absolute;
  left:320px;
  top:130px;
  width:38px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7_input {
  font-family:'应用字体';
}
#u8 {
  position:absolute;
  left:93px;
  top:300px;
  width:79px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:182px;
  top:316px;
  width:150px;
  height:48px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:69px;
  top:661px;
  width:279px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
